<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gRPC counter example</title>
</head>
<body>
    <p>
        The page was viewed <span id="js-counter">{{ count }}</span> times
    </p>
    <script src="js/app.js"></script>
</body>
</html>